<div class="container">

    <div class="welcome-section mb-5">
        <div class="row text-center">
            <div class="col col-lg-4 col-md-4 col-sm-12 col-12 d-none d-md-block d-xl-block">
            </div>
            <div class="col col-lg-4 col-md-4 col-sm-12 col-12">
                <div class="margin-text-app">
                    <h3 class="title">Il Virus</h3>
                </div>
            </div>
            <div class="col col-lg-4 col-md-4 col-sm-12 col-12 d-none d-md-block d-xl-block">
            </div>
        </div>

        <div class="row">
            <div class="col margin-top-30">
                <p>
                    Il SARS-CoV-2 (acronimo dall'inglese severe acute respiratory syndrome coronavirus 2), in precedenza nominato nuovo
                    coronavirus del 2019 (2019-nCoV), è un ceppo virale della specie SARS-related coronavirus, facente parte del genere
                    Betacoronavirus (famiglia Coronaviridae), sottogenere Sarbecovirus, scoperto intorno alla fine del 2019. Si tratta del
                    settimo coronavirus riconosciuto in grado di infettare esseri umani.
                </p>
                <p>
                    Il nome ufficiale dato dall'Organizzazione mondiale della sanità alla sindrome causata dal virus è COVID-19
                    (abbreviazione dell'inglese COronaVIrus Disease-2019).
                </p>
                <p>
                    Il virus è stato sequenziato genomicamente dopo un test di acido nucleico effettuato su un campione prelevato da un
                    paziente colpito da una polmonite, di cui non si conosceva la causa, all'inizio della pandemia del 2019-2021 a Wuhan.
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col margin-top-30 fonti">
                <p>
                    Fonti :<br>
                    - Dopo la malattia anche il coronavirus ha un nome, Sars-CoV-2, in ANSA, 12 febbraio 2020.<br>
                    - Che cosa è il coronavirus, in Agenzia Giornalistica Italia, 7 marzo 2020. URL consultato il 18 luglio 2020.<br>
                    - EN) Novel Coronavirus (2019-nCoV) Situation Report - 10 (PDF), Organizzazione mondiale della sanità, 30 gennaio 2020.<br>
                    URL consultato il 18 luglio 2020.
                </p>
                <p>
                    Link :<br>
                    - <a href="https://it.wikipedia.org/wiki/COVID-19" target="blank">Wikipedia Corona Virus</a><br>
                </p>
            </div>
        </div>
        

        <div class="text-center registration-btn">
            <button class="btn btn-success" [routerLink]='["/worldStatistics"]'><b>CONSULTA LE STATISTICHE MONDIALI</b></button>
            <button class="btn btn-success ml-2" [routerLink]='["/about"]'><b>TORNA INDIETRO</b></button>
        </div>
    </div>
</div>