<form (ngSubmit)="addUsers(registerForm)" #registerForm="ngForm">
  
    

    <div class="container">

      <div>
        <h2>Nuovo account</h2>
      </div>
      
      <!-- <label for="uname"><b>Username</b></label>
      <input type="text" placeholder="Username" id="name" required ngModel name ="userName">
  
      <label for="psw"><b>Password</b></label>
      <input type="password" placeholder="Password" id="pwd" required ngModel name ="pwd"> -->
  

      <div class="form-group row">
        <label for="cases" class="col-12 col-form-label">Username</label>
        <div class="col-12">
          <input type="text" placeholder="Username" class="form-control" id="userName" required ngModel name="userName">
        </div>
      </div>
      
      <div class="form-group row">
        <label for="cases" class="col-12 col-form-label">Password</label>
        <div class="col-12">
          <input type="password" placeholder="Password" class="form-control" id="pwd" number required ngModel name="pwd">
        </div>
      </div>

      <button type="submit" class="btn btn-success" [disabled]="!registerForm.valid">Register</button>
     
    </div>
  
   
  </form>