<div class="container">

    <div class="welcome-section mb-5">
        <div class="row text-center">
            <div class="col col-lg-4 col-md-4 col-sm-12 col-12 d-none d-md-block d-xl-block">
            </div>
            <div class="col col-lg-4 col-md-4 col-sm-12 col-12">
                <div class="margin-text-app">
                    <h3 class="title">Organizzazione</h3>
                </div>
            </div>
            <div class="col col-lg-4 col-md-4 col-sm-12 col-12 d-none d-md-block d-xl-block">
            </div>
        </div>

        <div class="row">
            <div class="col margin-top-30">
                <p>
                    Siamo un gruppo di giovani sviluppatori con la passione per la programmazione Web e l'innovazione tecnologica nel campo
                    no-profit.
                </p>
                <p>
                    Grazie alla partnership con The Net Value abbiamo ideato covid-21 Tracker l'applicazione web che permette di monitorare
                    l'andamento del virus a livello nazionale e mondiale in modo veloce e gratuito.
                </p>
            </div>
        </div>
        
        <div class="row">
            <div class="col margin-top-30 fonti">
                <p>
                    Link :<br>
                    - <a href="https://www.thenetvalue.com/" target="blank">The Net Value</a><br>
                    - <a href="https://www.thenetvalue.com/tnv-academy/" target="blank">Tnv Accademy</a><br>
                </p>
            </div>
        </div>

        <div class="text-center registration-btn">
            <button class="btn btn-primary" [routerLink]='["/home"]'>VAI ALLA HOME</button>
            <button class="btn btn-primary ml-2" [routerLink]='["/about"]'>TORNA INDIETRO</button>
        </div>
    </div>
</div>