<div class="container">

    <div class="welcome-section">
        <div class="row text-center">
            <div class="col col-lg-4 col-md-4 col-sm-12 col-12 d-none d-md-block d-xl-block">
            </div>
            <div class="col col-lg-4 col-md-4 col-sm-12 col-12">
                <div class="margin-text-app">
                    <h2>Organizzazione</h2>
                </div>
            </div>
            <div class="col col-lg-4 col-md-4 col-sm-12 col-12 d-none d-md-block d-xl-block">
            </div>
        </div>

        <div class="row">
            <div class="col margin-top-30">
                <p>
                    Siamo belli e organizzati..
                </p>
            </div>
        </div>

        <div class="text-center registration-btn">
            <button class="btn btn-primary" [routerLink]='["/dashboard"]'>Registration</button>
        </div>
    </div>
</div>