<div class="container" *ngIf="dailyData">
    <div class="title-h2 text-center mb-4">
        <span>STATISTICHE CORONAVIRUS NEL MONDO</span>
    </div>
    <div class="mb-5">
        <div class="row">
            <div class="col text-center">
                <button class="btn btn-primary mb-3 ml-2" [routerLink]='["/countryStatististics"]'><b>VAI ALLE STATISTICHE PAESI</b></button>
            </div>
        </div>
    <hr>
    <div class="p-1 mb-5">
        <!-- card section -->
        <div class="row mb-5">
            <div class="col-12 col-md-6 col-sm-6 col-lg-3 p-2">
                <app-statistical-card [statisticalCardDatata]="confirmedData"></app-statistical-card>
            </div>
            <div class="col-12 col-md-6 col-sm-6 col-lg-3 p-2">
                <app-statistical-card [statisticalCardDatata]="activeData"></app-statistical-card>
            </div>
            <div class="col-12 col-md-6 col-sm-6 col-lg-3 p-2">
                <app-statistical-card [statisticalCardDatata]="recoveredData"></app-statistical-card>
            </div>
            <div class="col-12 col-md-6 col-sm-6 col-lg-3 p-2">
                <app-statistical-card [statisticalCardDatata]="deathData"></app-statistical-card>
            </div>
        </div>
        <!-- graph section -->
        <div class="row mb-3">
            <div class="col-12 col-md-4 col-sm-4 col-lg-4">
                <div class="title-h4 text-center">
                    <span>Incremento percentuale</span>
                </div>
                <div>
                    <app-world-data-doughnut-chart [worldDailyData]="dailyData"></app-world-data-doughnut-chart>
                </div>
            </div>
            <div class="col-12 col-md-8 col-sm-8 col-lg-8">
                <div class="title-h4 text-center">
                    <span>Incremento assoluto</span>
                </div>
                <app-world-data-bar-chart [worldDailyData]="dailyData"></app-world-data-bar-chart>
            </div>
        </div>
        <div class="row">
            <div class="col text-center mt-2 col-12"><span class="notes">dati aggiornati al {{dailyData.date |
                date:'dd/MM/yyyy'}}</span>
            </div>
        </div>
    </div>
</div>