<div class="container" *ngIf="dailyData">
    <div class="title-h2 text-center mb-4">
        <span>STATISTICHE CORONAVIRUS NEL MONDO</span>
    </div>
    <div class="mb-5">
        <div class="row">
            <div class="col text-center">
                <button class="btn btn-custom mb-3 ml-2" [routerLink]='["/countryStatististics"]'><b>CONSULTA LE STATISTICHE DEI PAESI</b></button>
            </div>
        </div>
    <hr>
    <div class="p-1 mb-5">
        <div class="title-h4 text-center mb-3">
            <span >Statistiche assolute
                <i class="fas fa-info-circle fa-info-custom" 
                    [ngbTooltip]="tipAssolute" 
                    tooltipClass="tooltip-custom-class" 
                    placement="right">
                </i>
            </span> 
        </div>
        <!-- card section -->
        <div class="row mb-5" *ngIf="showStatistics">
            <div class="col-12 col-md-6 col-sm-6 col-lg-3 p-2">
                <app-statistical-card [statisticalCardData]="confirmedData"></app-statistical-card>
            </div>
            <div class="col-12 col-md-6 col-sm-6 col-lg-3 p-2">
                <app-statistical-card [statisticalCardData]="activeData"></app-statistical-card>
            </div>
            <div class="col-12 col-md-6 col-sm-6 col-lg-3 p-2">
                <app-statistical-card [statisticalCardData]="recoveredData"></app-statistical-card>
            </div>
            <div class="col-12 col-md-6 col-sm-6 col-lg-3 p-2">
                <app-statistical-card [statisticalCardData]="deathData"></app-statistical-card>
            </div>
        </div>

        <!-- No data available -->
        <div *ngIf="!showStatistics">
            <div class="alert alert-secondary text-center" role="alert">
                No Data Available!
            </div>
        </div>
        <div class="row">
            <div class="col text-center mb-3 col-12"><span class="notes">dati aggiornati al {{dailyData.date |
                    date:'dd/MM/yyyy'}}</span>
            </div>
        </div>
        <hr>
        <!-- graph section -->
        <div class="row mb-3 mt-5">
            <div class="col-12 col-md-4 col-sm-4 col-lg-4">
                <div class="title-h4 text-center mb-3">
                    <span>Incremento giornaliero %
                        <i class="fas fa-info-circle fa-info-custom" [ngbTooltip]="tipGiornalieroPerc" tooltipClass="tooltip-custom-class"
                            placement="right">
                        </i>
                    </span>
                </div>
                <div *ngIf="showStatistics">
                    <app-world-data-doughnut-chart [worldDailyData]="dailyData"></app-world-data-doughnut-chart>
                </div>

                <!-- No data available -->
                <div *ngIf="!showStatistics">
                    <div class="alert alert-secondary text-center" role="alert">
                        No Data Available!
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-8 col-sm-8 col-lg-8">
                <div class="title-h4 text-center mb-3">
                    <span>Incremento giornaliero
                        <i class="fas fa-info-circle fa-info-custom" [ngbTooltip]="tipGiornaliero" tooltipClass="tooltip-custom-class"
                            placement="right">
                        </i>
                    </span>
                </div>
                <div *ngIf="showStatistics">
                    <app-world-data-bar-chart [worldDailyData]="dailyData"></app-world-data-bar-chart>
                </div>
                <!-- No data available -->
                <div *ngIf="!showStatistics">
                    <div class="alert alert-secondary text-center" role="alert">
                        No Data Available!
                    </div>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col text-center mt-2 col-12"><span class="notes">dati aggiornati al {{dailyData.date |
                date:'dd/MM/yyyy'}}</span>
            </div>
        </div>
    </div>
</div>


<!-- Tooltips -->

<!-- Assoluti -->
<ng-template #tipAssolute>
    Casi e decessi<br>dall' inizio pandemia
</ng-template>
<!-- Giornalieri % -->
<ng-template #tipGiornalieroPerc>
    Incremento percentuale giornaliero<br>rispetto alla giornata precedente
</ng-template>
<!-- Giornalieri -->
<ng-template #tipGiornaliero>
    Incremento giornaliero<br>rispetto alla giornata precedente
</ng-template>
