.confirmed-card{
    background-color: #008494;
    color: #01acc1; 
}

.confirmed-icon{
    color: #01acc1;
}

.recovered-card{
    color: #ffc078; 
    background-color: #fd7e14;
}

.recovered-icon{
    color: #ffc078;
}

.active-card{
    color: #356aa5; 
    background-color: #224C7B;
}

.active-icon{
    color: #356aa5;
}

.deaths-card{
    color: #ca4242; 
    /* background-color: #ca4545; */
    background-color: #ae1010;
}

.deaths-icon{
    color: #ca4242;
}

.data-style{
    font-size: 2.1em;
    font-weight: 900;
    color: white;
}

.card-title{
    font-weight: 600;
    font-size: 1.4em;
}