<div class="container" *ngIf="countriesDb">
    <div class="title-h2 text-center mb-4">
        <span>STATISTICHE CORONAVIRUS NEI PAESI</span>
    </div>
    <div class="mb-5">
        <form class="pt-2" (change)="onSelect(form)" #form="ngForm">
            <div class="form-group">
                
                <div class="row">
                    <div class="col-sm-12 col-md-6 col-lg-3 text-left">
                        <label for="sort" class="label-select col-form-label">Seleziona lo stato:</label>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-3 mb-2">
                        <select class="form-control" id="selectedCountry" ngModel required name="selectedCountry"
                            [(ngModel)]="selectedCountry">
                            <option *ngFor="let c of countriesDb" [ngValue]="c.countryCode">{{c.countryName}}</option>
                        </select>
                    </div>
                    <div class="col-sm-12 col-md-12 pl-2 text-left col-lg-4">
                        <button class="btn btn-success mb-1 ml-2" [routerLink]='["/worldStatistics"]'><b>CONSULTA LE STATISTICHE MONDIALI</b></button>
                    </div>
                </div>
            </div>
            
        </form>
    </div>
    <hr>

    <app-user-dashboard *ngIf="selectedCountry" [country]='countryDb'></app-user-dashboard>


</div>