<div class="container">

    <div class="welcome-section">
        <div class="row text-center">

            <div class="col col-lg-4 col-md-4 col-sm-12 col-12 d-none d-md-block d-xl-block">
            </div>
            <div class="col col-lg-4 col-md-4 col-sm-12 col-12">
                <div>
                    <img src="../../../assets/img/covid-21-tracker.jpg" class="logo-img">
                </div>
            </div>
            <div class="col col-lg-4 col-md-4 col-sm-12 col-12 d-none d-md-block d-xl-block">
                <h4 class="wrap-primary-text text-left"></h4>
            </div>
        </div>

        <div class="row">
            <div class="col col-12 text-center title-h2 mt-3">
                Benvenuti al progetto Covid-21 Tracker
            </div>
            <div class="col col-12 text-center margin-top-30 mb-3">
                <p>
                    <b>Covid-21 Tracker</b> è un progetto nato in Sardegna grazie alla collaborazione con The Net Value.
                    Grazie a <b>Covid-21 Tracker</b> è possibile monitorare l'andamento del virus SARS-CoV-2
                    a livello mondiale in tempo reale e grazie alla registrazione al sito vedere i dati relativi alla propria nazione.  
                </p>
            </div>
        </div>

        

        <div class="row mb-5 mt-3">
            <!-- start section block -->
            <!-- virus -->
            <div class="col col-lg-4 col-md-4 col-12">
                <div class="welcome-widget text-center">
                    <div>
                        <span class="fa-stack fa-3x">
                            <i class="fa fa-circle fa-stack-2x icon-background"></i>
                            <i class="fa fa-virus fa-stack-1x icon-color"></i>
                        </span>
                    </div>
                    <div class="welcome-widget-container">
                            <span class="title-h4"><a class="nav-link widget-text" [routerLink]='["/about-virus"]'>Il Virus</a></span>
                        <div class="widget-subtitle">
                            Il SARS-CoV-19 e le sue varianti.
                        </div>
                    </div>
                </div>
            </div>

            <!-- organizzazione -->
            <div class="col col-lg-4 col-md-4 col-12">

                <div class="welcome-widget text-center">
                    <div>
                        <span class="fa-stack fa-3x">
                            <i class="fa fa-circle fa-stack-2x icon-background"></i>
                            <i class="fa fa-globe fa-stack-1x icon-color"></i>
                        </span>
                    </div>
                    <div class="welcome-widget-container">
                            <span class="title-h4"><a class="nav-link widget-text" [routerLink]='["/about-organizzazione"]'>Organizzazione</a></span>
                        <div class="widget-subtitle">
                            Siamo un team giovane a capo di un'organizzazione no-profit.
                        </div>
                    </div>
                </div>
            </div>

            <!-- i dati -->
            <div class="col col-lg-4 col-md-4 col-12">
                <div class="welcome-widget text-center">
                    <div>
                        <span class="fa-stack fa-3x">
                            <i class="fa fa-circle fa-stack-2x icon-background"></i>
                            <i class="fa fa-chart-bar fa-stack-1x icon-color"></i>
                        </span>
                    </div>
                    <div class="welcome-widget-container">
                            <span class="title-h4"><a class="nav-link widget-text" [routerLink]='["/about-dati"]'>I nostri Dati</a></span>
                        <div class="widget-subtitle">
                            Sempre aggiornati e solo da fonti attendibili e riconosciute.
                        </div>
                    </div>
                </div>
            </div>
            <!-- end sections block -->
        </div>

        <div class="text-center registration-btn mt-4 mb-5">
            <button class="btn btn-custom" [routerLink]='["/worldStatistics"]'><b>CONSULTA LE STATISTICHE MONDIALI</b></button>
        </div>

    </div>

</div>