<div class="container">

    <div class="welcome-section mb-5">
        <div class="row text-center">
            <div class="col col-lg-4 col-md-4 col-sm-12 col-12 d-none d-md-block d-xl-block">
            </div>
            <div class="col col-lg-4 col-md-4 col-sm-12 col-12">
                <div class="margin-text-app">
                    <h3 class="title">I nostri Dati</h3>
                </div>
            </div>
            <div class="col col-lg-4 col-md-4 col-sm-12 col-12 d-none d-md-block d-xl-block">
            </div>
        </div>

        <div class="row">
            <div class="col margin-top-30">
                <p>
                    Raccogliamo i nostri dati da about-corona.net, l'API che monitora in tempo reale le statistiche riguardanti il
                    SARS-CoV-19 e seleziona solo fonti attendibili e riconosciute come l'Organizzazione Mondiale della Sanità.
                </p>
                <p>
                    Con covid-21 Tracker è possibile verificare l'andamento del virus a livello mondiale e nazionale in modo semplice ed
                    immediato.
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col margin-top-30 fonti">
                <p>
                    Link :<br>
                    - <a href="https://about-corona.net/" target="blank">Sito delle Api utilizzato nel progetto</a><br>
                    - <a href="https://about-corona.net/documentation" target="blank">Documentazione api</a><br>
                </p>
            </div>
        </div>

        <div class="text-center registration-btn">
            <button class="btn btn-success" [routerLink]='["/worldStatistics"]'><b>VAI ALLE STATISTICHE MONDIALI</b></button>
            <button class="btn btn-success ml-2" [routerLink]='["/about"]'>TORNA INDIETRO</button>
        </div>
    </div>
</div>