<div class="container">

    <h3>Dashboard Admin</h3>
    <div>
        <h4>Importazioni dati Covid</h4>
    </div>
    <form class="pt-5" (onsubmit)="submit(form)" #form="ngForm">
        <div class="form-group row">
            <label for="sort" class="col-sm-12 col-form-label">Seleziona un paese da importare</label>
            <div class="col-sm-6">
                <select class="form-control" id="countryDb" ngModel required name="countryDb" [(ngModel)]="selectedValue">
                    <option value="" [selected]=true [disabled]="true">Scegli uno stato</option>
                    <option *ngFor="let c of countriesDb" [ngValue]="c.countryCode">{{c.countryName}}</option>
                </select>
            </div>
        </div>

        <button class="btn btn-success mb-3"  [disabled]="!form.valid"  type='submit' >Salva sul Database</button>

        <button class="btn btn-primary mb-3 ml-2" (click)="goToHome()">Vai alla home</button>
    </form>
    
    


    

    

</div>