/* .title-h2{
    color: #36a692;
    font-weight: 900;
    font-size: 2rem;
}

.title-h4{
    color: #36a692;
    font-weight: 900;
    font-size: 1.5rem;
} */

.label-select{
    color: #36a692;
    font-weight: 900;
    font-size: 1.2rem;
}

.admin-card{
    background-color:#fff;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.icon-align{
    line-height: 82px;
}

.custom-icon-style{
    color: #36a692;
}

.title-container{
    border: 0;
    border-bottom: 1px solid rgba(0,0,0,.1);
}
